{% extends 'base.html' %}

<!DOCTYPE html>
  <html>

    <head>
      {% block title %} Homepage {% endblock %}
      <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>

<!-- MAIN HEADER -->
    <body>
      {% block content %} 
      <h1> UberMelon's Most Loved Melons </h1>

<!-- USERNAME FORM -->
      <form action="/get-name">
        Enter Name <input type='text' name='username' required>
        <input type='submit'>
      </form>
      {% endblock %}
    </body>

  </html>