{% extends 'base.html' %}

<!DOCTYPE html>
  <html>

    <head>
      {% block title} Top Melons {% endblock %}
      <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>

    <body>

<!-- DISPLAY USERNAME FROM HOMEPAGE INPUT -->
      {% block content}
      <h1> Welcome, {{ session['username'] }} </h1>

<!-- DISPLAYS TOP 4 MELONS -->
      {% for melon in fav_melons %}

        <div class='melon-div'>
          <h3> {{ session['username'] }}, this is a {{ fav_melons[melon]['name'] }} </h3>
          <h2> Loved {{ fav_melons[melon]['num_loves'] }} times. </h2>
          <img src={{ fav_melons[melon]['img'] }}>
        </div>

      {% endfor %}
      {% endblock %}
    </body>

  </html>