<!DOCTYPE html>
<html>
<head>
    <title>Top Melons</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>

<!-- Create a div for every Most Loved Melon using a Jinja for loop -->

{% for melon in MOST_LOVED_MELONS %}
    <div class='melon-div'>
        <h3> {{ MOST_LOVED_MELONS[melon]['name'] }} </h3>
        <h2> Loved {{ MOST_LOVED_MELONS[melon]['num_loves'] }} times. </h2>
        <img src={{ MOST_LOVED_MELONS[melon]['img'] }}>
    </div>
{% endfor %}

</body>
</html>